<div class="container">
    <div class="header">
        <div class="logo" alt="Your Website Logo"></div>
        <h1>Work Orders</h1>
        <div class="flex-container time-scale-container">
            <div class="timescale-label">Timescale</div>
            <div class="time-scale-options flex-container">
                <ng-select [clearable]="false" [items]="timeScaleOptions" [(ngModel)]="selectedTimeScale"
                    bindLabel="label" bindValue="value" (change)="onTimeScaleChange($event)">
                </ng-select>
            </div>
        </div>
    </div>
    <div class="flex-container time-scale-section">
        <div class="work-center-name-container">
            <div class="work-center-name-header">Work Center</div>
            @for(workCenter of workCenterList; track $index) {
            <div class="work-center-name" [class.first-work-center]="$first">{{ workCenter.data.name }}</div>
            }
        </div>

        <cdk-virtual-scroll-viewport [maxBufferPx]="2000" #viewport orientation="horizontal" [itemSize]="ITEM_SIZE "
            class="calendar-viewport" (scrolledIndexChange)="onScroll($event)">
            <div class="time-scale-scroll">
                <div class="time-scale-table">
                    <div class="flex-container">
                        <div *cdkVirtualFor="let timeScale of timeScaleList; 
                        let i = index; trackBy: trackByIndex"
                            id="{{timeScale.month}}-{{timeScale.day}}-{{timeScale.year}}" [attr.data-index]="i">
                            <div *ngIf="selectedTimeScale === 'Month'" class="time-scale-cell-header">{{ timeScale.month
                                }} {{ timeScale.year }}</div>
                            <div *ngIf="selectedTimeScale === 'Day'" class="time-scale-cell-header">{{timeScale.day}} {{
                                timeScale.month }} {{ timeScale.year }}</div>
                            <div class="current-date"
                                *ngIf="todayIndex!==-1 && todaysDateObject.month === timeScale.month && todaysDateObject.year === timeScale.year && todaysDateObject.day === timeScale.day">
                                Current Month
                            </div>
                            @for (workcenter of workCenterList; track $index) {

                            <span [style.display]="'none'">
                                {{findWorkCenterNameInCurrentTimeScale(workcenter.docId,
                                timeScale)}}</span>
                            <div class="time-scale-cell-data"
                                [ngClass]="[$index === 0 ? 'first-row-data' : 'other-rows-data',
                            (todayIndex!==-1 && todaysDateObject.month === timeScale.month && todaysDateObject.year === timeScale.year && todaysDateObject.day === timeScale.day)?'current-day': '']">
                                <div *ngIf="workOrderBarRadiusData.startDatePoint"
                                    class="bar bar-{{workOrderBarRadiusData.workOrder?.data?.status}}"
                                    [style.left.px]="workOrderBarRadiusData.startDatePoint"
                                    [style.width.px]="workOrderBarRadiusData.barWidth">
                                    <span class="pl-8">{{workOrderBarRadiusData.workOrder?.data?.name|
                                        titlecase}}</span>
                                    <span
                                        class="pr-8 status status-{{workOrderBarRadiusData.workOrder?.data?.status}}">{{workOrderBarRadiusData.workOrder?.data?.status|titlecase}}
                                    </span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>


</div>